/ec2/.terraform
/ec2/terraform.tfstate.backup
/ec2/.terraform.lock.hcl
/alb/.terraform
/alb/.terraform.lock.hcl
/alb/.terraform.tfstate.lock.info
/alb/terraform.tfstate
/alb/terraform.tfstate.backup
/route53/.terraform
/route53/.terraform.lock.hcl
/route53/terraform.tfstate
/route53/terraform.tfstate.backup